<div class="dashboard-page">
  <div class="container-fluid main">

    <div class="row">
      <div class="col-sm-9">
        <h2>{{ 'SIGN_MULTISIG_TRANSACTIONS_TITLE' | translate }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li>{{ 'DASHBOARD_UNCONFIRMED' | translate }}</li>
              </ul>
              <ul class="nav nav-tabs arrows">
                <li ng-show="$ctrl.unconfirmed.length > 5">
                  <button class="buttonStyle" ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage = $ctrl.currentPage-1">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                  </button>
                  <b>{{$ctrl.currentPage+1}}/{{$ctrl.numberOfPages()}}</b>
                  <button class="buttonStyle" ng-disabled="$ctrl.currentPage+1 >= $ctrl.numberOfPages()" ng-click="$ctrl.currentPage = $ctrl.currentPage+1">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                  </button>
                </li>
                <li><i class="fa fa-refresh" style="cursor:pointer;" ng-click="$ctrl.getUnconfirmedTransactions();"></i></li>
              </ul>
            </div>
            <table class="table table-condensed top">
              <thead>
                <tr>
                  <th>{{ 'GENERAL_ACCOUNT' | translate }}</th>
                  <th>{{ 'GENERAL_AMOUNT' | translate }}</th>
                  <th>{{ 'GENERAL_MESSAGE' | translate }}</th>
                  <th>{{ 'GENERAL_DATE' | translate }}</th>
                </tr>
              </thead>
            </table>
            <table class="table">
              <tbody>
                  <div ng-repeat="tx in $ctrl.unconfirmed | orderBy:'-transaction.timeStamp' | startFrom:$ctrl.currentPage*$ctrl.pageSize | limitTo:$ctrl.pageSize">
                    <tag-transaction d="tx" z="$ctrl._Wallet.currentAccount.address" h="$ctrl._DataBridge" tooltip-position="'left'" account-data="$ctrl._DataBridge.accountData"></tag-transaction>
                  </div>
              </tbody>
            </table>
            <div class="panel-body nothing" ng-show="!$ctrl.unconfirmed.length">
              <p>{{ 'GENERAL_NO_RESULTS' | translate }}</p>
            </div>
          </div>
          
          
        </div>
      </div>
     
  </div>
</div>
</div>
