<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.home"><span>{{ 'WALLET_NAME_1' | translate }}</span><span>{{ 'WALLET_NAME_2' | translate }}</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="$ctrl._DataBridge.accountData.meta && $ctrl._DataBridge.accountData.account">
        <li><a style="outline:0;" ui-sref-active="active" ui-sref="app.dashboard" show-authed="true"><i class="fa fa-home"></i> {{ 'HEADER_DASHBOARD' | translate }}</a></li>
        <li><a style="outline:0;" ui-sref-active="active" ui-sref="app.transferTransaction" show-authed="true"><i class="fa fa-send"></i> {{ 'GENERAL_SEND' | translate }}</a></li>
        <li><a style="outline:0;" ui-sref-active="active" ui-sref="app.portal" show-authed="true"><i class="fa fa-wrench"></i> {{ 'HEADER_SERVICES' | translate }}</a></li>
        <li><a style="outline:0;" ui-sref-active="active" ui-sref="app.explorerHome" show-authed="true"><i class="fa fa-globe"></i> {{ 'HEADER_EXPLORER' | translate }}</a></li>

        <li class="money"><a style="outline:0;font-size:90%;cursor:pointer;" ng-show="!balanceToBtc && !balanceToUsd" show-account-data="balance" show-authed="true" ng-click="balanceToUsd = true;">
          <b>0.000000 XEM</b></a>
        </li>
        <li class="money">
          <a style="outline:0;font-size:90%;cursor:pointer;" ng-show="balanceToUsd" show-authed="true" ng-click="balanceToUsd = false;balanceToBtc = true;">
            <span ng-show="$ctrl._DataBridge.marketInfo.highestBid && $ctrl._DataBridge.btcPrice.last"><i class="fa fa-usd"></i> <b>{{ $ctrl._DataBridge.accountData.account.balance / 1000000 * ($ctrl._DataBridge.marketInfo.highestBid * $ctrl._DataBridge.btcPrice.last) | currencyFormat }}</b></span>
            <span ng-show="!$ctrl._DataBridge.marketInfo.highestBid || !$ctrl._DataBridge.btcPrice.last"><b>No <i class="fa fa-usd"></i> market data</b></span>
          </a>
        </li>
        <li class="money">
          <a style="outline:0;font-size:90%;cursor:pointer;" ng-show="balanceToBtc" show-authed="true" ng-click="balanceToBtc = false;">
            <span ng-show="$ctrl._DataBridge.marketInfo.highestBid"><i class="fa fa-btc"></i> <b>{{ $ctrl._DataBridge.accountData.account.balance / 1000000 * $ctrl._DataBridge.marketInfo.highestBid | btcFormat }}</b></span>
            <span ng-show="!$ctrl._DataBridge.marketInfo.highestBid"><b>No <i class="fa fa-btc"></i> market data</span></b>
          </a>
       </b></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="login" ui-sref-active="active" ui-sref="app.login" show-authed="false"><small><b>{{ 'HEADER_LOGIN_BUTTON' | translate }}</b></small></a></li>
        <li><a style="outline:0;text-transform: uppercase;" ui-sref-active="active" ui-sref="app.signup" show-authed="false"><small><b>{{ 'HEADER_SIGNUP_BUTTON' | translate }}</b></small></a></li>
        <li class="node" style="cursor:pointer;"><a data-toggle="modal" data-target=".nodes" aria-haspopup="true" aria-expanded="false" show-authed="true"><i class="fa fa-circle-o" show-network-status></i> {{ 'HEADER_NODE' | translate }}</a></li>
        <li class="account" ng-show="$ctrl._DataBridge.accountData.meta && $ctrl._DataBridge.accountData.account"><a ui-sref-active="active" ui-sref="app.account" show-authed="true">{{ 'HEADER_ACCOUNT' | translate }}</a></li>
        <li class="account2" ng-show="$ctrl._Wallet.currentAccount.label"><a>: {{ $ctrl._Wallet.currentAccount.label }}</a></li>
        <li style="display:none"><a style="outline:0;cursor:default;" show-authed="true" show-block-height></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'HEADER_LANG_TITLE' | translate }}</a>
          <ul class="dropdown-menu">
            <li><select class="form-control" ng-model="$ctrl.lang.name" ng-change="$ctrl.changeLanguage($ctrl.lang.name)" ng-options="lang.key as lang.name for lang in $ctrl.languages"><option value="" disabled selected>{{ 'HEADER_LANG_SELECT' | translate }}</option></select></li>
            <!--<li><select class="form-control" style="width:100%" ng-model="theme" ng-change="vm.setTheme(theme.color)" data-ng-options="theme.color for theme in vm.themes"><option value="" disabled selected>{{ 'SETTING_CHANG_THEME_SELECT' | translate }}</option></select></li>-->
          </ul>
        </li>
        <!-- <li><a style="outline:0;border-left:medium none;" ui-sref-active="active" ui-sref="app.faq"><i class="fa fa-question-circle"></i></a></li> -->
        <!--<li><a style="outline:0;cursor:pointer;text-transform: uppercase;border-right:none;" ng-click="$ctrl.purge()" ng-if="$ctrl._storage.wallets.length" show-authed="false"><i class="fa fa-trash"></i> <small><b>{{ 'HEADER_PURGE' | translate }}</b></small></a></li>-->
        <li><a style="outline:0;cursor:pointer;border-right:none;" show-authed="true" ng-click="$ctrl.logout()"><i class="fa fa-sign-out"></i> <small><b>{{$ctrl.walletName}}</small></b></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade nodes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="gridSystemModalLabel">{{ 'HEARDER_NODE_LIST' | translate }}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- NODES BLOCK HEIGHT -->
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <label>{{ 'HEADER_NODE_BLOCK_HEIGHT' | translate }}: </label>
                </span>
                <span type="text" class="form-control" readOnly show-block-height></span>
              </div>
            </fieldset>
            <!-- CURRENT NODE -->
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <label>{{ 'HEADER_NODE_CURRENT_NODE' | translate }}: </label>
                </span>
                <span type="text" class="form-control" readOnly>{{ $ctrl.currentNode | toHostname }}</span>
              </div>
            </fieldset>
            <!-- NODE LIST -->
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <label>{{ 'HEARDER_NODE_LIST' | translate }}: </label>
                </span>
                <select class="form-control" ng-model="$ctrl.currentNode" ng-change="$ctrl.changeNode($ctrl.currentNode)" ng-options="node.uri as (node.uri | toHostname) for node in $ctrl.nodes"><option value="" disabled selected>{{ 'HEADER_NODE_SELECT' | translate }}</option></select>
              </div>
            </fieldset>
            <!-- CUSTOM NODE -->
            <fieldset class="form-group" autocomplete="off">
              <div class="input-group">
                <span class="input-group-btn">
                  <label data-toggle="tooltip" data-placement="bottom" title="{{ 'HEADER_NODE_CUSTOM_TOOLTIP' | translate }}">{{ 'HEADER_NODE_CUSTOM' | translate }}: <i class="fa fa-question-circle-o"></i> </label>
                </span>
                <input class="form-control"
                    type="text" autocomplete="off"
                    placeholder="{{ 'HEADER_NODE_CUSTOM_INFO' | translate }}"
                    ng-model="$ctrl.customNode" ng-model-options="{debounce:500}"/>
                <span class="input-group-btn adding">
                  <button type="button" class="btn btn-warning" ng-click="$ctrl.changeNode($ctrl.customNode)">
                    <i class="fa fa-plus"></i>
                  </button>
                </span>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-dismiss="modal">{{ 'GENERAL_CLOSE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
