<div class="voting-page">

    <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
        <div class="row">
            <div class="col-sm-11">
                <h2>Manage Scheduled Payments</h2>
            </div>
        </div>

        <div id="row1" class="row row1">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- TABS -->
                        <ul class="nav nav-tabs">
                            <li ng-class="{ active: $ctrl.isTabSet(1) }">
                                <a ng-click="$ctrl.setTab(1)">Create Scheduled Payment</a>
                            </li>
                            <li ng-class="{ active: $ctrl.isTabSet(2) }">
                                <a ng-click="$ctrl.setTab(2)">See All Scheduled Payments</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div ng-show="$ctrl.isTabSet(1)">
                            <form>
                                <!-- Recipient -->
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                                <label>Recipient: </label>
                                        </span>
                                        <input class="form-control form-control-lg" type="text" ng-model="$ctrl.formData.recipient" ng-model-options="{debounce:500}" />
                                    </div>
                                </fieldset>
                                <!-- Amount of XEM to send -->
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <label>Amount: </label>
                                          </span>
                                        <div class="form-control formFloat">
                                            <input type="text" ng-model="$ctrl.formData.amount" ng-change="$ctrl.updateFees();" />
                                            <label class="floatRight"><small>XEM</small></label>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Message Field -->
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn message">
                                            <label>Message: </label>
                                        </span>
                                        <textarea class="form-control" ng-model="$ctrl.formData.message" rows="4" ng-change="$ctrl.updateFee();" ng-class="$ctrl.charsLeft < 0 ? 'has-error' : ''"></textarea>
                                    </div>
                                    <p style="float:right;margin-top:5px;"><b>Characters left</b>: {{ $ctrl.charsLeft }}</p>
                                </fieldset>
                                <!-- Date Field -->
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn message">
                                                <label>Date: </label>
                                            </span>
                                        <input type="datetime-local" ng-model="$ctrl.date" ng-change="$ctrl.saveDate();"></textarea>
                                    </div>
                                </fieldset>
                                <!-- Transaction fee calculation section -->
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <label>Fee: </label>
                                        </span>
                                        <div class="form-control formFloat" readOnly>
                                            <span class="feeAmount">
                                            <!-- Transaction fee -->
                                            <span>{{($ctrl.formData.fee | fmtNemValue)[0]}}.{{($ctrl.formData.fee | fmtNemValue)[1]}}</span>
                                            </span>
                                            <label class="floatRight"><small>XEM</small></label>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- Password Field -->
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <label ng-class="!$ctrl.common.password.length ? 'has-error' : ''">Password: </label>
                                        </span>
                                        <input class="form-control password" type="password" ng-model="$ctrl.common.password" ng-class="!$ctrl.common.password.length ? 'has-error' : ''" />
                                    </div>
                                </fieldset>
                                <br>
                                <button class="btn btn-success" ng-click="$ctrl.saveTransaction();" ng-disabled="$ctrl.okPressed">Create Scheduled Payment</button>
                                <br>
                                <button class="btn btn-success" ng-click="$ctrl.addTransaction();">Create Another Scheduled Payment</button>
                                <br>
                            </form>
                            <br>
                        </div>
                        <div ng-show="$ctrl.isTabSet(2)">
                            <form>
                                <label>Your Transactions</label>
                                <br>
                                <li ng-repeat="transaction in $ctrl.transactions">
                                    Transaction #{{$index + 1}}.
                                    <br> Recipient: {{transaction.formData.recipient}}.
                                    <br> Amount: {{transaction.formData.amount}}.
                                    <br> Message: {{transaction.formData.message}}
                                    <br> Fee: {{transaction.formData.fee / 1000000}}
                                    <br> Date: {{transaction.date}}
                                    <br> <br>
                                </li>
                                <br>
                            </form>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>